/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "./boards/shields/klink_kbd/common.keymap"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE  &kp Q      &kp W     &kp E  &kp R        &kp T  &kp Y            &kp U  &kp I      &kp O           &kp P           &kp LEFT_BRACE   &kp RIGHT_BRACE
&lt 3 TAB   &kp A      &kp S     &kp D  &kp F        &kp G  &kp H            &kp J  &kp K      &kp L           &kp SEMI        &kp ENTER
&kp LSHFT   &kp Z      &kp X     &kp C  &kp V        &kp B  &kp N            &kp M  &kp COMMA  &kp DOT         &kp UP_ARROW    &kp RIGHT_ARROW
            &kp LCTRL  &kp LALT         &lt 1 SPACE         &lt 2 BACKSPACE                    &kp LEFT_ARROW  &kp DOWN_ARROW
            >;
        };

        layer_1 {
            bindings = <
&kp GRAVE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp MINUS          &kp EQUAL
&trans     &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &kp DOUBLE_QUOTES
&trans     &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &kp SLASH     &kp BACKSLASH
           &trans        &trans                      &trans                      &trans                                    &trans        &trans
            >;
        };

        layer_2 {
            bindings = <
&kp LS(GRAVE)  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)  &kp LS(NUMBER_6)  &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp LS(NUMBER_0)  &kp LS(MINUS)          &kp LS(EQUAL)
&trans         &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &kp LS(DOUBLE_QUOTES)
&trans         &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &kp LS(SLASH)     &kp LS(BACKSLASH)
               &trans            &trans                              &trans                              &trans                                                &trans            &trans
            >;
        };

        layer_3 {
            bindings = <
&bt BT_CLR_ALL  &bt BT_SEL 0  &trans  &trans  &trans  &trans  &trans  &trans      &trans          &trans       &trans             &trans  &trans
&trans          &trans        &trans  &trans  &trans  &trans  &trans  &trans      &trans          &trans       &trans             &trans
&trans          &trans        &trans  &trans  &trans  &trans  &trans  &sys_reset  &studio_unlock  &bootloader  &kp C_VOLUME_UP    &trans
                &trans        &trans          &trans          &trans                              &kp K_MUTE   &kp C_VOLUME_DOWN
            >;
        };
    };
};
